{% extends "layout.html" %}
{% block content %}
<div class="watchlist-container">
    <h2>Your Watchlist</h2>
    <table id="watchlist-table" class="display">
        <thead>
            <tr>
                <th>Token</th>
                <th>Price</th>
                <th>RSI</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="/static/js/watchlist.js"></script>
{% endblock %}